#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	# Create venv in the package directory
	python3 -m venv debian/tmp/opt/tutor-heaven/venv
	debian/tmp/opt/tutor-heaven/venv/bin/pip install --no-cache-dir .
	# Remove pip and setuptools to save space
	rm -rf debian/tmp/opt/tutor-heaven/venv/lib/*/site-packages/pip*
	rm -rf debian/tmp/opt/tutor-heaven/venv/lib/*/site-packages/setuptools*

override_dh_auto_install:
	# Install launcher
	install -D -m 755 debian/tutor-heaven debian/tmp/usr/bin/tutor-heaven
	# Install desktop file
	install -D -m 644 debian/tutor-heaven.desktop debian/tmp/usr/share/applications/tutor-heaven.desktop
	# Install icon
	install -D -m 644 assets/tutor-heaven.svg debian/tmp/usr/share/icons/hicolor/scalable/apps/tutor-heaven.svg

override_dh_auto_clean:
	rm -rf debian/tmp

override_dh_auto_test:
	# Skip tests during package build
